.nice-dates-grid_container .-disabled::before {
  background-color: #159fb1;
}
.o-date-picker-container {
  background-color: white;
  border-radius: 1rem;
  width: 100%;
  margin: 0;
  padding: 0.5rem;
  min-height: 15rem;
}
/*
.fc-scrollgrid::-webkit-scrollbar,
.table-bordered::-webkit-scrollbar,
.fc-scrollgrid-liquid::-webkit-scrollbar,
.fc-timegrid::-webkit-scrollbar,
.fc-timeGridDay-view::-webkit-scrollbar,
.fc-view::-webkit-scrollbar {
	width: 5px;
}

.fc-scrollgrid::-webkit-scrollbar-thumb,
.table-bordered::-webkit-scrollbar-thumb,
.fc-scrollgrid-liquid::-webkit-scrollbar-thumb,
.fc-timegrid::-webkit-scrollbar-thumb,
.fc-timeGridDay-view::-webkit-scrollbar-thumb,
.fc-view::-webkit-scrollbar-thumb {
	background: #4285f4;
	border-radius: 3px;
}

.fc-scrollgrid::-webkit-scrollbar-thumb:hover,
.table-bordered::-webkit-scrollbar-thumb:hover,
.fc-scrollgrid-liquid::-webkit-scrollbar-thumb:hover,
.fc-timegrid::-webkit-scrollbar-thumb:hover,
.fc-timeGridDay-view::-webkit-scrollbar-thumb:hover,
.fc-view::-webkit-scrollbar-thumb:hover {
	background: #3a4c99;
}
*/
.o-text-events {
  margin: 1rem 0.5rem;
}

.o-create-event-container {
  height: 1.5rem;
  border-radius: 3rem;
  vertical-align: middle;
  margin: 0rem 0rem 0.5rem 0rem;
}

.o-blue-container {
  background-color: #eef7fc;
  height: 100vh;
  height: 100%;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 1rem;
}

.fc-prev-button {
  margin-right: 0;
  box-shadow: none;
}

.fc-next-button {
  margin-left: 0;
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
  box-shadow: none;
}

.fc-today-button {
  border-radius: 3px !important;
  box-shadow: none;
}

.fc-dayGridMonth-button {
  margin-right: 0;
  box-shadow: none;
}

.fc-timeGridWeek-button {
  margin-right: 0;
  box-shadow: none;
}

.fc-timeGridDay-button {
  margin-right: 0;
  box-shadow: none;
}

.fc-listWeek-button {
  box-shadow: none;
}

.o-blue-container .md-form label {
  transform: translateY(-14px) scale(0.8) !important;
  background: #fff;
  height: 1.6rem;
  left: 1px !important;
  padding-left: 5px !important;
  padding-bottom: 0px !important;
  padding-right: 5px !important;
  margin-left: 0.5rem !important;
  font-size: 1.3rem;
  color: black;
  position: absolute !important;
}

.o-blue-container .md-form input {
  padding-top: 0.5rem !important;
  font-size: 0.9rem;
}
.o-blue-container .md-form textarea {
  padding-top: 0.5rem !important;
  font-size: 0.9rem;
}

.o-project-select {
  height: 1.5rem;
  font-size: 0.8rem;
  padding: 0.2rem;
}

.o-hour-text {
  font-size: 0.8rem;
}

.o-project-text-select {
  width: 100%;
  height: 2rem;
}

.o-check:checked {
  background-color: #2962ff;
  color: white;
}
@media only screen and (max-width: 1380px) {
  .o-date-picker-container {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 1260px) {
  .o-calendar-container {
    margin-right: 5rem;
  }
  .o-create-event-container-form {
    margin-right: 4rem;
  }
  .o-date-picker-container {
    width: 100%;
    margin: 0;
  }
  .o-picker-cont {
    min-width: 20rem;
    margin: 0;
  }
}

@media only screen and (max-width: 960px) {
  .o-calendar-container {
    margin-right: 2rem;
    min-width: 100%;
  }
  .o-create-event-container-form {
    margin-right: 2rem;
    min-width: 100%;
  }
}
@media only screen and (max-width: 960px) {
  .o-calendar-container {
    margin: 1rem 0;
  }
  .o-create-event-container-form {
    margin: 1rem 0;
  }
}
