.o-h1 {
  margin: 0;
}

.o-h4 {
  margin: 1rem 0 4rem 0;
}
html,
body {
  min-height: 100%;
  background-color: #202a5b;
  overflow: hidden;
}
.o-big-container {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #202a5b;
}

.o-mid-container {
  display: flex;
  justify-content: flex-end;
  width: auto;
  padding: 4rem 6rem;
}

.o-banner {
  box-shadow: 0 0 12px rgba(60, 60, 60, 0.3);
  max-height: 100%;
  margin: 0;
}

.o-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #202a5b;
  text-align: start;
  padding: 6rem;
}
.o-input {
  border: 3px solid white;
}

.o-background-img {
  max-height: 80vh;
}

.o-textbox {
  border-width: 2rem;
}
.o-textbox:focus {
  border-left: 5px solid white;
  margin-left: -0.2rem;
  outline: none;
}
.o-check {
  opacity: 0.3;
  background-color: transparent;
}
