a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

/* ---------------------------------------------------
      SIDEBAR STYLE
  ----------------------------------------------------- */
.sidebar {
  min-width: 100px;
  max-width: 100px;
  background: #202a5b;
  color: #fff;
  transition: all 0.5s;
}

.sidebar.is-open {
  min-width: 250px;
  max-width: 250px;
  transition: 0.5s;
}
.side-menu p {
  display: none;
  transition: all 0.5s;
}
.is-open p {
  display: inline;
  visibility: visible;
}
.sidebar-header {
  text-align: center;
}
.sidebar-header img {
  width: 90%;
  padding: 0.5rem;
  text-align: center;
}
.sidebar-header .o-small-logo {
  height: 5rem;
}
.nav-item {
  height: 2.5rem;
}

.items-menu {
  color: #fff;
}
.nav-item:hover {
  background: #203768;
  color: #3bccf6;
  border-left: 5px solid #3bccf6;
  transition: 0.1s;
}
li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%;
}
.sidebar-header > span {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.side-menu {
  overflow-y: hidden;
}

.o-link-btn:hover {
  color: #3bccf6;
}
.o-link-btn:active,
.o-link-btn.active.focus,
.o-link-btn.active:focus,
.o-link-btn.focus,
.o-link-btn:active.focus,
.o-link-btn:active:focus,
.o-link-btn:focus {
  border-style: outset;
  outline: none;
  box-shadow: none;
  color: #3bccf6;
}
a.active .o-link-btn {
  color: #3bccf6;
}
a.active .nav-item {
  background: #203768;
  border-left: 5px solid #3bccf6;
  width: 100%;
}
.disabled .o-link-btn {
  color: gray;
}

.nav-item {
  height: 2.5rem;
  box-shadow: none;
}

li {
  box-shadow: none;
}
.nav-item .o-link-btn {
  text-align: center;
  transition: all 0.6s;
}
.is-open .nav-item .o-link-btn {
  text-align: start;
  transition: all 0.6s;
}
@media only screen and (max-width: 923px) {
  .o-link-btn {
    font-size: 0.8rem;
  }
  .sidebar.is-open {
    min-width: 180px;
    max-width: 180px;
  }
  .side-menu {
    text-align: center;
  }
  .sidebar-header {
    text-align: center;
    position: relative;
  }
}

@media only screen and (max-width: 590px) {
  .sidebar {
    z-index: 3;
    width: 0%;
    height: 100vh;
    margin-left: -250px;
    position: fixed;
  }
  .sidebar.is-open > .sidebar-header span {
    display: unset;
    position: fixed;
  }
  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    z-index: 3;
    position: fixed;
    height: 100vh;
    margin-left: 0;
    transition: all 0.5s, height 0s;
  }
  .sidebar-header span {
    transform: translateX(-165px);
    transition: all 0.6s ease;
  }

  .sidebar-header img {
    width: auto;
  }
}
@media only screen and (max-width: 430px) {
  .sidebar-header span {
    transform: translateX(-85px);
    transition: all 0.6s ease;
  }
}

@media only screen and (max-width: 390px) {
  .sidebar-header span {
    transform: translateX(-60px);
    transition: all 0.6s ease;
  }
}
@media only screen and (max-width: 290px) {
  .sidebar-header span {
    transform: translateX(-40px);
    transition: all 0.6s ease;
  }
}
