.o-register-container {
	margin: -2rem 0 0 0;
	width: 100%;
	padding: 1rem 2rem;
	border-radius: 0.8rem;
	background-color: #eef7fc;
	overflow: hidden;
}

.o-register-container .inputWrapper {
	height: 2rem;
	width: 7rem;
	margin: 1rem auto 3rem auto;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	/*Using a background color, but you can use a background image to represent a button*/
	background-color: #4285f4;
	border-radius: 2px;
}
.o-register-container .inputWrapper:hover {
	background-color: #0d47a1;
}
.o-register-container .fileInput {
	cursor: pointer;
	height: 100%;
	width: 100%;
	padding-bottom: 4rem;
	position: absolute;
	z-index: 99;
	justify-self: center;
	/*This makes the button huge. If you want a bigger button, increase the font size*/
	/*Opacity settings for all browsers*/
	opacity: 0;
	-moz-opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

.o-register-container .o-icon-input-text {
	left: 1.6rem;
	top: 0.4rem;
	font-size: 0.9rem;
	position: absolute;
}

.o-user-register-pic {
	width: 5.5rem;
	height: 5.5rem;
}
.o-accounts-link {
	width: 5.5rem;
	height: 5.5rem;
	opacity: 0.6;
}
.o-register-container .md-outline input[type=text] + label {
	transform: translateY(-14px) scale(0.8);
	background: #fff;
	height: 1.6rem;
	left: 1px;
	padding-left: 5px;
	padding-bottom: 0px;
	padding-right: 5px;
	margin-left: 0.5rem;
	font-size: 0.8rem;
	color: black;
	position: absolute;
}
.o-register-container .md-outline input[type=text] {
	border-color: #007bff;
	border-bottom: 0.1px solid #007bff;
}

.o-box {
	position: absolute;
	margin-top: 1.5rem;
}

.o-box select {
	background: #fff;
	padding: 0;
	border-radius: 5px;
	width: 250px;
	height: 2.3rem;
	border: 1px solid #007bff;
	font-size: 0.9rem;
	-webkit-appearance: button;
	outline: none;
}

.o-box::before {
	content: '\f0dd';
	font-family: "FontAwesome";
	position: absolute;
	border-radius: 0 5px 5px 0;
	top: 0;
	right: 0;
	width: 2.5rem;
	height: 2.3rem;
	text-align: center;
	line-height: 25px;
	pointer-events: none;
	color: #fff;
	font-size: 28px;
	background: #007ce0;
}
.o-box:hover::before {
	background: #0472ca;
}
.o-skills-select {
	min-width: 18rem;
	max-width: 18rem;
}
.o-skills-select .o-box {
	width: 15.6rem;
	height: 1rem;
	font-size: 0.8rem;
}
.o-col {
	min-width: 17rem;
}
@media only screen and (max-width: 1290px) {
	.o-box {
		margin-bottom: 4rem;
	}
	.o-col {
		padding-bottom: 2rem;
	}
}
@media only screen and (max-width: 590px) {
	.o-register-container {
		margin: 0 0 5rem 0;
		padding: 0rem;
		text-align: center;
	}
	.o-skills-select {
		min-width: auto;
	}
	.o-col {
		padding: 3px;
	}
}
