.fondo_login{
    background-color: #202A5B;
}
.espacio_login{
    border-style: solid;
    border-width: 1px;
    color: white;
}
.espacio_login input{
    border-radius: 0px;
    background-color: transparent;
    border-color: transparent;
    color: white;
}

.espacio_login label{
    margin-left: 12px;
}
.form-login{
    margin: 100px;
    height: 100% !important;
    align-content: center;
}

