.o-project-creation-section {
  background-color: #eef7fc;
  height: 100vh;
  height: 100%;
  width: 100%;
  padding: 1rem 2rem;
  margin: 0.5rem;
  border-radius: 1rem;
}
.o-project-creation-section p {
  font-weight: 500;
}
.o-project-basic-info {
  padding: 1rem;
  border-radius: 1rem;
}
.o-member-selection-container {
  display: flex;
  width: 100%;
  height: 20rem;
  padding: 2rem;
  overflow-x: auto;
  scrollbar-color: #4285f4 rgb(240, 238, 238);
  scrollbar-width: auto;
}

.o-member-selection-container::-webkit-scrollbar {
  height: 8px;
  background-color: #e0e0e0;
}
.o-member-selection-container::-webkit-scrollbar-thumb {
  background: #4285f4;
  border-radius: 3px;
}

.o-member-selection-container::-webkit-scrollbar-thumb:hover {
  background: #3a4c99;
}
.inputWrapper {
  height: 3rem;
  width: 100%;
  max-width: 20rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  /*Using a background color, but you can use a background image to represent a button*/
  background-color: #ddf;
}
.inputWrapper:hover {
  background-color: rgb(195, 195, 207);
}
.fileInput {
  cursor: pointer;
  height: 100%;
  width: 100%;
  padding-bottom: 4rem;
  position: absolute;
  z-index: 99;
  justify-self: center;
  /*This makes the button huge. If you want a bigger button, increase the font size*/
  /*Opacity settings for all browsers*/
  opacity: 0;
  -moz-opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.o-project-creation-section .md-outline input[type="text"] + label,
.o-project-creation-section .md-outline textarea + label {
  transform: translateY(-18px) scale(0.8);
  background: #fff;
  height: 1.6rem;
  left: 1px;
  padding-left: 5px;
  padding-bottom: 0px;
  padding-right: 5px;
  margin-left: 0.5rem;
  font-size: 1.2rem;
  color: #007bff;
  position: absolute;
}
.o-project-creation-section .md-outline {
  margin-bottom: 0;
}
.o-project-creation-section .md-outline input[type="text"],
.o-project-creation-section .md-outline textarea {
  border-color: #007bff;
  border-bottom: 0.1px solid #007bff;
  font-size: 12px;
  min-height: 2rem;
}
.o-project-creation-section .md-outline textarea:focus + label {
  color: #007bff;
  transform: translateY(-18px) scale(0.8);
}
.o-project-creation-section .md-outline textarea:focus {
  border-color: #007bff;
  box-shadow: inset 0 0 0 1px #007bff;
  border-bottom: 0.1px solid #007bff;
}
.o-project-creation-section .md-outline textarea {
  height: 10rem;
  padding-top: 120px;
  box-shadow: border-box;
}

.o-picture-project {
  width: 100%;
  height: 100%;
  position: absolute;
}
.o-project-form {
  height: 10rem;
  position: relative;
}

.o-icon-input-text {
  right: 0rem;
  top: 0.7rem;
  margin: auto 12px auto auto;
  font-size: 1rem;
  position: absolute;
}
.o-inputWrapper-btn {
  margin: auto 0 0 auto;
  position: relative;
  width: 8rem;
  height: 2.3rem;
}
.o-inputWrapper-btn p {
  margin: 8px 0 12px 12px;
}
.o-inputWrapper-btn input {
  position: absolute;
  top: 0;
}
.o-practice-container {
  max-width: 15rem;
  min-width: 15rem;
}
.o-btn-partices {
  padding: 0.3rem;
}

.o-meetings-calendar {
  background: #e8f8ff;
  border: 1px solid #0d8cc2;
  border-radius: 6px;
  padding: 5px;
  margin: 4px auto;
  min-width: 12rem;
  color: #40b4e5;
}

.o-meetings-calendar p {
  font-size: 10px;
  margin: 0 auto 4px auto;
  color: #0d8cc2;
}
.o-meetings-calendar small {
  font-size: 10px;
}

.o-smmv-practice {
  background: #a7e1c4;
}

.o-smmv-practice .card {
  padding: 5px 10px;
  box-sizing: border-box;
  background: #4fa77b;
  max-width: 200px;
  align-items: center;
  box-shadow: none;
  border-radius: 2px;
  border: none;
  margin: 20px auto;
}
.o-smmv-practice p {
  color: #4fa77b;
  font-weight: 400;
  font-size: 14px;
  margin: 10px auto 0 auto;
}

.o-cem-practice {
  background: #f8db84;
}
.o-cem-practice .card {
  background: #d0a114;
  padding: 5px 10px;
  box-sizing: border-box;
  max-width: 200px;
  align-items: center;
  box-shadow: none;
  border-radius: 2px;
  border: none;
  margin: 20px auto;
}
.o-cem-practice p {
  color: #d0a114;
  font-weight: 400;
  margin: 10px auto 0 auto;
}
.o-text-practice-chart {
  position: absolute;
  right: 0;
  left: 0;
  top: 35%;
  color: #4fa77b;
}
@media only screen and (max-width: 800px) {
  .o-project-creation-section {
    min-width: 45rem;
  }

  .inputWrapper {
    width: 10rem;
  }
  .o-icon-input-text {
    left: 3.1rem;
    font-size: 14px;
    margin: auto 0;
  }
  .o-inputWrapper-btn {
    width: 7rem;
    height: 2rem;
  }
}

#Practices-section .card {
  width: 18rem;
  margin: 0 1rem;
  height: 7rem;
}

@media only screen and (max-width: 700px) {
  .o-project-creation-section {
    width: 45rem;
    min-width: 38rem;
  }
  .o-inputWrapper-btn {
    width: 6rem;
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 590px) {
  .o-grahpcart-project .o-text-practice-chart {
    font-size: 18px;
  }
  .o-project-creation-section {
    min-width: 100%;
    padding: 1rem;
    margin: 0;
  }
  .inputWrapper {
    width: 100%;
  }
  .o-inputWrapper-btn {
    width: 7.5rem;
    height: 2.3rem;
  }

  .o-inputWrapper-btn p {
    margin: 12px 0 12px 20px;
  }
  .o-icon-input-text {
    left: 6.5rem;
    top: 14px;
    font-size: 0.9rem;
  }
  .o-practice-container {
    min-width: 100%;
  }
  .o-member-selection-container {
    padding: 0;
  }
  #Practices-section .card {
    width: 90%;
    height: 9rem;

    margin: 0;
  }
}
