.o-deliverable-select {
  position: absolute;
  top: 0;
  right: 15px;
  height: 0.7rem;
  border: 1px solid white;
}
.o-deliverable-select::before {
  content: "\f107";
  font-family: "FontAwesome";
  position: absolute;
  border-radius: 100%;
  top: 10px;
  margin: -5px -1px 0 0;
  right: 0;
  width: 1rem;
  height: 1rem;
  text-align: center;
  line-height: 18px;
  pointer-events: none;
  color: #fff;
  font-size: 18px;
  background: #4fa77b;
}
.o-deliverable-select:hover::before {
  background: #3c8862;
}
.o-deliverable-select select {
  padding: 2px 24px;
  background: #fff;
  color: #4fa77b;
  border-radius: 1rem;
  border: 1px solid #4fa77b;
  width: 9rem;
  height: 1rem;
  font-size: 0.6rem;
  -webkit-appearance: button;
  outline: none;
}

.o-document-type {
  border-radius: 0.4rem;
  border: 1px solid #4fa77b;
  color: #4fa77b;
  background-color: #d5eadf;
  height: 1.2rem;
  font-size: 0.6rem;
  padding: 2px;
  width: 4rem;
}

.o-document-type.cem {
  background-color: #ffefbe;
  border-color: #d0a114;
  color: #d0a114;
}

.o-icon-deliverable-container {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #4fa77b;
  position: absolute;
  font-size: 0.9rem;
  top: -2px;
  right: -2px;
}
.o-icon-deliverable-container.cem {
  background-color: #d0a114;
}

.o-icon-deliverable {
  color: white;
  position: absolute;
  left: 9px;
  width: 2rem;
  height: 1.6rem;
  pointer-events: none;
}

.o-btn-deliverable {
  height: 1.6rem;
  width: 8.7rem;
  border: 2px solid #4fa77b;
  padding: 0 1rem 0 0;
  font-size: 10px;
  position: relative;
  outline: none;
  background-color: #fff;
}

.o-btn-deliverable label {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  cursor: pointer;
}
.o-btn-deliverable.cem {
  border-color: #d0a114;
}
.o-btn-deliverable:focus {
  outline: none;
}
.o-btn-deliverable:hover {
  background-color: rgb(238, 229, 229);
}

.o-deliverable-select.cem::before {
  background-color: #d0a114;
}

.o-deliverable-select.cem:hover::before {
  background: #957411;
}

.o-deliverable-select.cem select {
  color: #d0a114;
  border-color: #d0a114;
}
