a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

/* ---------------------------------------------------
      CONTENT STYLE
  ----------------------------------------------------- */
.content {
  overflow: auto;
  padding: 0px 20px 20px 20px;
  margin-left: 0;
  height: 100vh;
}
@media only screen and (max-width: 590px) {
  body {
    overflow: hidden;
  }
  .o-nav {
    position: fixed;
    z-index: 1;
    width: 90%;
  }
  .sidebar.is-open > .sidebar-header span {
    display: unset;
    position: fixed;
  }
  .content {
    overflow-x: auto;
    padding: 20px;
    margin-left: 0;
    margin-top: 60px;
    height: 100vh;
    position: fixed;
  }
  li a.dropdown-toggle::after {
    display: inline-block;
    position: relative;
  }
}

.o-btns {
  width: 3rem;
  height: 3rem;
  border-width: 3px;
}

.o-card-project-button {
  width: 5.5rem;
  height: 2rem;
}

.o-card-project {
  width: 18rem;
}

.o-card-project-title {
  padding: 1rem;
  font-size: small;
}

.o-card-project-body {
  height: 8rem;
}
.o-card-description {
  overflow-y: auto;
  scrollbar-color: #4285f4 rgb(240, 238, 238);
  scrollbar-width: thin;
  margin: 0.6rem 1rem 0.6rem 0rem;
}

.o-card-description-text {
  max-height: 5rem;
  font-size: small;
}

.o-card-project-image {
  width: 100%;
  height: 10rem;
}
.o-link-btn {
  width: 100%;
  height: 2.5rem;
  text-align: start;
  margin: 0;
  padding: 0.2rem 0rem 0.2rem 0.9rem;
  color: white;
}

.side-menu::-webkit-scrollbar,
.o-card-description::-webkit-scrollbar {
  width: 7px;
  background-color: #e0e0e0;
}
.side-menu::-webkit-scrollbar-thumb,
.o-card-description::-webkit-scrollbar-thumb {
  background: #4285f4;
  border-radius: 3px;
}

.side-menu::-webkit-scrollbar-thumb:hover,
.o-card-description::-webkit-scrollbar-thumb:hover {
  background: #3a4c99;
}
@media only screen and (max-width: 540px) {
  .content {
    margin: 5rem 0rem;
  }
}
