.o-login-container {
  background: no-repeat;
  background-image: url("../../../Logos/Group102.png");
  background-position: 90% 30%;
  background-origin: content-box;
  background-size: 30vw auto;
  background-color: #202a5b;
  overflow-y: auto;
}

.o-login-form {
  max-width: 50vw;
  padding: 4rem 0rem 0rem 5rem;
  min-width: 40rem;
}
.o-login-text {
  font-size: 1rem;
}

.o-login-input {
  color: white;
}

.md-form .fa-lock,
.md-form .fa-envelope {
  color: white;
}
.o-login-form .md-form {
  margin-bottom: 0;
}

.o-login-error .md-form input[type="password"]:not(.browser-default),
.o-login-error .md-form input[type="text"]:not(.browser-default) {
  border-bottom: 1px solid #dc3545;
}
.o-login-error .md-form .fa-lock,
.o-login-error .fa-envelope {
  color: #dc3545;
}
.md-form .fa-lock.active,
.md-form .fa-envelope.active {
  color: #4285f4;
}

.o-button {
  outline: none;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.3rem;
  width: 9rem;
  text-align: center;
  border: none;
}
.o-button:focus {
  outline: none;
}
@media only screen and (max-width: 720px) {
  .o-login-container {
    background: #202a5b;
    padding: 0;
  }
  .o-login-form {
    padding: 0rem 1rem 0rem 1rem;
    min-width: 20rem;
  }
  .o-button {
    font-size: 0.8rem;
    border-radius: 0.3rem;
    padding: 0.7rem;
    width: 7rem;
    border: none;
  }
  .error-text {
    font-size: 12px;
    text-align: justify;
  }
}
