.o-talent-icon {
  width: 100px;
}

.o-search-talents-btn {
  width: 100%;
  max-width: 11rem;
}

.o-talent-favorite-icon {
  font-size: 1.3rem;
  margin: 0;
}

.o-hide-this {
  margin: 0rem;
}
.o-show-this {
  display: none;
}

.o-job-contact {
  width: 10rem;
  max-height: 1.2rem;
  font-size: 0.7rem;
  text-align: center;
  justify-content: center;
  margin: 2px 1px;
  font-weight: bolder;
}
.web-developer {
  background-color: #e0fee3;
  color: #3fd53b;
  border: 1px solid #3fd53b;
}

.ui-designer {
  background-color: #ef9a9a;
  color: #b71c1c;
  border: 1px solid #b71c1c;
}

.fullstack-developer {
  background-color: #c5cae9;
  color: #0d47a1;
  border: 1px solid #0d47a1;
}

.backend-developer {
  background-color: #ce93d8;
  color: #4a148c;
  border: 1px solid #4a148c;
}

.other-job-1 {
  background-color: #bcaaa4;
  color: #3e2723;
  border: 1px solid #3e2723;
}

.other-job-2 {
  background-color: #fff176;
  color: #f57f17;
  border: 1px solid #f57f17;
}

.other-job-3 {
  background-color: #dce775;
  color: #827717;
  border: 1px solid #827717;
}
@media only screen and (max-width: 980px) {
  .o-job-contact {
    margin: 4px 1px;
  }
  .o-search-talents-btn {
    font-size: 0.3rem;
  }

  .o-text-info-contact {
    margin-left: 1rem;
  }
  .o-talent-icon {
    max-width: 5rem;
  }
}
@media only screen and (max-width: 590px) {
  .o-search-talents-btn {
    font-size: 1rem;
    max-width: 100%;
  }
  .o-hide-this {
    display: none;
  }
  .o-show-this {
    margin-left: auto;
    display: unset;
  }
  .o-talent-icon {
    width: 100%;
    margin: 0 auto;
  }
  .o-job-contact {
    max-width: 49%;
    max-height: auto;
    font-size: 10px;
    margin: 4px 1px;
  }
  .o-text-info-contact {
    text-align: center;
    margin: 0;
    padding: 0;
  }
}
@media only screen and (max-width: 290px) {
  .o-job-contact {
    max-width: 100%;
  }
}
