.o-activities-col {
  height: calc(100vh - 260px);
}
.o-deliverables-col {
  flex-direction: column;
  height: calc(100vh - 260px);
  text-align: start;
  justify-content: center;
  min-width: 17rem;
  max-width: 65%;
}
.o-text-alfa-state {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
}
.o-activities-col::-webkit-scrollbar,
.o-deliverables-col::-webkit-scrollbar {
  width: 6px;
  background-color: #e0e0e0;
}
.o-activities-col::-webkit-scrollbar-thumb,
.o-deliverables-col::-webkit-scrollbar-thumb {
  background: #4285f4;
  border-radius: 3px;
}

.o-activities-col::-webkit-scrollbar-thumb:hover,
.o-deliverables-col.o-activities-col::-webkit-scrollbar-thumb:hover {
  background: #3a4c99;
}

@media only screen and (max-width: 1300px) {
  .o-deliverables-col {
    max-width: 100%;
    margin: 0 0 0 24px;
  }
}
