   <div id="info">
			Se cargo el entorno 3d con un orbit control
			<a href="/">volver</a>
		</div>

		<script src="/librerias/threejs/three.js"></script>
		
			<script src="/librerias/Detector.js"></script>
				<script src="/librerias/GLTFLoader.js"></script>
					<script src="/librerias/stats.min.js"></script>
						<script src="/librerias/Reflector.js"></script>
							<script src="/librerias/OrbitControls.js"></script>

								<script src="/librerias/soporte/CargarObjGltf.js"></script>
									<script src="/librerias/soporte/CargarEntorno.js"></script>