<div class="componente-login" >
<div class="columns">
        <div class="container is-fluid">
   <div class="container ">
            <div >
      <h1 class="title" style="color:white; ">El mejor lugar Para tu trabajar con tu equipo</h1>

     <h4 class="subtitle is-4" style="color:white; ">Bienvenido, por favor ingresa con tu cuenta</h4>

    </div>

    <div class="inputs">
        <div class="input-correo">
        <div>correo</div>
        <input type="email" name="correo" id="input-correo" >
        </div>    
    </div>
    <div  class="inputs">
     <div class="input-contraseña">
         <div>contraseña</div>
         <input type="password" name="contrena" id="inpu-contrasena" >
     </div>
  </div>
  <button>ingresa</button>
  <button>registrarse</button>


   </div>

    </div>
    <div class="container is-fluid">
        <img src="/publico/media/Group102.8d5d6afa.png"  width="100%"/>
    </div>
</div>
    
</div>

<style>
    html{
        background-color:#202A5B ;
    }
</style>