.o-card-member {
  width: 10rem;
  padding: 0.5rem;
  margin: 1rem;
  height: 15rem;
}

.o-card-member-rols {
  height: 5rem;
}

.o-member-picture {
  width: 3rem;
  height: 3rem;
}

.o-rol-select {
  position: absolute;
  margin-top: auto;
  top: 13rem;
}

.o-rol-select select {
  background: #fff;
  padding: 0;
  border-radius: 1rem;
  width: 9rem;
  height: 1.6rem;
  border: 1px solid #007bff;
  font-size: 0.6rem;
  -webkit-appearance: button;
  outline: none;
}

.o-rol-select::before {
  content: "\f078";
  font-family: "FontAwesome";
  position: absolute;
  border-radius: 100%;
  top: 0;
  margin-top: 1px;
  right: 0;
  width: 1.6rem;
  height: 1.6rem;
  text-align: center;
  line-height: 25px;
  pointer-events: none;
  color: #fff;
  font-size: 15px;
  background: #007ce0;
}
.o-rol-select:hover::before {
  background: #0472ca;
}

.o-member-contact {
  width: 9rem;
  max-height: 1.2rem;
  font-size: 0.7rem;
  text-align: center;
  justify-content: center;
  margin: 0px 1px;
  font-weight: bolder;
}
