* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.accordion-section {
  display: flex;
  flex-direction: column;
}

.accordion-title {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.4s ease;
  border-radius: 3px;
  margin: 0.5rem 0rem 0rem 0rem;
  padding: 0px 20px;
}

.accordion-title:hover,
.active {
  background-color: #ccc;
}


.accordion-icon {
  margin-left: auto;
  transition: transform 0.4s ease;
}

.rotate {
  transform: rotate(90deg);
}

.rotated {
  transform: rotate(-90deg);
}
.accordion-content {
  background-color: white;
  transition: max-height 0.4s ease;
  overflow: hidden;
}
.accordion-content.show{
    padding: 1rem;
    overflow-y: scroll;
}
.accordion-text {
  font-weight: 400;
  font-size: 14px;
  padding: 18px;
}

.accordion-content::-webkit-scrollbar{
  width: 5px;
}
.accordion-content::-webkit-scrollbar-thumb {
  background: #5466b3;
  border-radius: 10px;
}

.accordion-content:-webkit-scrollbar-thumb:hover {
  background: #3a4c99;
}