* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  margin: auto;
  max-width: 100%;
}

.accordion {

  margin: 18px auto;
  
  display: flex;
  flex-direction: column;
}

.accordion.icon {
  margin-left: auto;
  transition: transform 0.4s ease;
}
.rotate {
  transform: rotate(90deg);
}

.rotated {
  transform: rotate(-90deg);
}
.accordionHeading {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
  border-radius: 4px;
  margin: 0.5rem 0rem 0rem 0rem;
  border: none;
}
.accordionHeading:hover,
.active {
  background-color: #ccc;
}

.accordionHeading .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordionHeading p {
  letter-spacing: 1.2px;
  font-weight: 600;
}

.accordionHeading span {
  cursor: pointer;
}

.accordionContent {
 background-color: white;
  max-height: 0;
  transition: max-height 0.4s ease;
  display: flex;
  overflow: hidden;
  
}

.accordionContent.show {
  max-height: 500px;
  
  overflow-y: scroll;
  transition: max-height 0.3s ease;
}

.accordionContent p {
  font-size: 15px;
  line-height: 1.6;
}

.accordionContent::-webkit-scrollbar{
  width: 5px;
}
.accordionContent::-webkit-scrollbar-thumb {
  
  background: #5466b3;
  border-radius: 10px;
}

.accordionContent:-webkit-scrollbar-thumb:hover {
  background: #3a4c99;
}