/*Styles for image of the user*/
.o-talent-picture {
  width: 100px;
  height: 100px;
}

/*General styles for every job that an user can have.*/
.o-job-talent {
  margin: 0.5rem 0rem 0rem 0rem;
  padding: 0.05rem 0.8rem;
  max-width: 10rem;
  max-height: 1.2rem;
  font-size: 0.7rem;
  text-align: center;
  justify-content: center;
  font-weight: bolder;
}

/*Styles for every job that an user can have. Since the predefined to other random styles*/
.web-developer {
  background-color: #e0fee3;
  color: #3fd53b;
  border: 1px solid #3fd53b;
}

.ui-designer {
  background-color: #ef9a9a;
  color: #b71c1c;
  border: 1px solid #b71c1c;
}

.fullstack-developer {
  background-color: #c5cae9;
  color: #0d47a1;
  border: 1px solid #0d47a1;
}

.backend-developer {
  background-color: #ce93d8;
  color: #4a148c;
  border: 1px solid #4a148c;
}

.other-job-1 {
  background-color: #bcaaa4;
  color: #3e2723;
  border: 1px solid #3e2723;
}

.other-job-2 {
  background-color: #fff176;
  color: #f57f17;
  border: 1px solid #f57f17;
}

.other-job-3 {
  background-color: #dce775;
  color: #827717;
  border: 1px solid #827717;
}

.other-job-4 {
  background-color: #f3e0d1;
  color: #e47012;
  border: 1px solid #e47012;
}

@media only screen and (max-width: 980px) {
  .o-text-info-contact {
    margin-left: 1rem;
  }
  .o-talent-picture {
    max-width: 5rem;
    height: 4rem;
    margin-left: 3rem;
  }
  .o-job-talent {
    max-width: 100%;
    min-width: 8rem;
    padding: 0.05rem 0.3rem;
    font-size: 0.6rem;
  }
}

/*Styles for the images about the skills/tools that the talent use*/
.o-talent-skills {
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.6rem;
}
@media only screen and (max-width: 575px) {
  .o-talent-picture {
    max-width: 100%;
    height: auto;
    margin: 0;
  }
  .o-job-talent {
    max-width: 100%;
  }
  .o-talent-skills {
    width: 1.4rem;
    height: 1.4rem;
    margin-bottom: 1rem;
  }
}
